body {
    background-color: #faf4ed;
}
header {
    font-size: 20px;
    margin-right: 25px;
    font-family: 'Roboto Serif', serif;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
nav a {
    text-decoration: none;
}
nav li {
    color: #56949f;
    list-style-type: none;
    margin-left: 20px;
}
nav a:visited{
    color: #56949f;
}
nav a:hover {
    color: #b4637a;
}
.menu {
    font-size: 25px;
    border: 0;
    background-color: #faf4ed;
    color: #56949f;
    font-family: 'Roboto Serif', serif;
}
.menuout {
    font-size: 25px;
    border: 0;
    margin-left: 175px;
    background-color: #f2e9e1;
    color: #56949f;
    font-family: 'Roboto Serif', serif;
}

.note {
    color: #56949f;
    background-color: #faf4ed;
    display: flex;
    font-size: 20px;
    border: 0;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 570px;
    font-family: 'Roboto Serif', serif; 
}
.notearea {
    color: #56949f;
    background-color: #faf4ed;
    display: flex;
    font-size: 30px;
    border: 0;
    font-family: 'Roboto Serif', serif; 
}
.textarea {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 405px;
}
.options {
    display: flex;
    flex-direction: column;
}
button:hover {
    color: #b4637a;
}
.sidebar{
    background-color: #f2e9e1;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
}
.sidebar ul {
    color: #56949f;
    font-family: 'Roboto Serif', serif;
    font-size: 20px;
}
h3 {
    font-family: 'Roboto Serif', serif;
    color: #575279;
    margin-left: 65px;
}
footer {
    color: #56949f;
    display: flex; 
    justify-content: center;
    margin-top: auto;
    bottom: 0%;
}