nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
nav a {
    text-decoration: none;
}
nav li {
    list-style-type: none;
    margin-left: 15px;
}

footer {
    display: flex; 
    justify-content: center;
}

   