body {
    background-color: #faf4ed;
}
header {
    font-size: 20px;
    margin-right: 25px;
    font-family: 'Roboto Serif', serif;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
nav a {
    text-decoration: none;
}
nav li {
    color: #56949f;
    list-style-type: none;
    margin-left: 20px;
}
nav a:visited{
    color: #56949f;
}
nav a:hover {
    color: #b4637a;
}
.menu {
    font-size: 25px;
    border: 0;
    background-color: #faf4ed;
    color: #56949f;
    font-family: 'Roboto Serif', serif;
}

.note {
    color: #56949f;
    background-color: #faf4ed;
    display: flex;
    font-size: 20px;
    border: 0;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 570px;
    font-family: 'Roboto Serif', serif; 
}
.notearea {
    color: #56949f;
    background-color: #faf4ed;
    display: flex;
    font-size: 30px;
    border: 0;
    font-family: 'Roboto Serif', serif; 
}
.textarea {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 360px;
}
.options {
    display: flex;
    flex-direction: column;
}
button:hover {
    color: #b4637a;
}
footer {
    color: #56949f;
    display: flex; 
    justify-content: center;
    margin-top: auto;
    bottom: 0%;
}